@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   min-height: 100vh;
   background: radial-gradient(#2be1cf, #0c9a8c);
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
header {
   padding-top: 50px;
}
header h1 {
   font-size: 3rem;
}

main {
   width: 40%;
   min-width: 360px;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.642);
   color: black;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
main label {
   margin-bottom: 5px;
}
main input {
   margin-bottom: 10px;
   padding: 5px;
   border: none;
}
main input:focus {
   outline: 2px solid rgb(12, 154, 140);
}

p.fruit > strong {
   color: #0c9a8c;
}


/* Manipulation in Javascript */
p.hidden {
   display: none;
}

footer {
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #165952;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}